
<nav class="navbar sticky-top navbar-expand-lg navbar-fixed-top navbar-dark stylish-color">
    <div class="container-fluid">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active" style="margin-right:19%">
            <a href="/"><i class="fas fa-home"></i></a> 
          </li>
      </ul>
      <a class="navbar-brand headstyle" style="color:white; margin-left: .8%; font-size: 230%" href="/">Neighbourhood</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
          {%if profile %}
        <form class="form-inline mr-auto" role="search" action="{% url 'search_results' %}">
          <div class="md-form my-0">
            <input class="form-control" type="text" placeholder="Search for Businesses" aria-label="Search" name= "business">
            <button type="submit" id = "btnsearch"><i class="fas fa-search text-black ml-3" aria-hidden="true"></i></button>
          </div>
        </form>
          {% endif %}
        {% endif %}
      </div>
      
      
      <div class="col-sm-4 col-md-4">
        </div>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
      <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
            {% if profile %}
        <li class="dropdown">
            <a class="navbar-brand" style="color:white" href="" data-toggle="dropdown" role="button"></i>Businesses</a>
          <ul class="dropdown-menu" role="menu">
          <li>
            <a style="font-size:15px;" href="{%url 'new_business'%}"> List A Business </a>
          </li>
          <li>
            <a style="font-size:15px;" href="{%url 'businesses'%}">business around you</a>
          </li>

          </ul>
          
        </li>
          {% endif %}
        {% endif %}
       
              {% if user.is_authenticated %}
                <li class="dropdown">
                        <a class="nav-link" href="" data-toggle="dropdown" role="button"><img src="https://image.flaticon.com/icons/png/128/118/118781.png" alt="" style="width:30px;height:30px;"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a style="font-size:15px;" href="{%url 'NewProfile'%}">Profile</a>
                    </li>
                    <a style="font-size:15px;" href="/edit_profile">Switch Neighbourhood</a>
                    <li>
                      <a style="font-size:15px;" href="/logout">Logout</a>
                    </li>
                  </ul>
                </li>
              
              {% else %}
              <li>
                <a style="font-size:15px;color: white" class='btn btn-outline-default' href="/accounts/login" >REGISTER/LOGIN</a>
              </li>

              {% endif %}
              <li style="padding-left:10%" >
                <a style="font-size:10px;font-weight: 600" class='btn btn-default' href="{%url 'new-post'%}">Create Post</a>
            </li>
            
        </ul>
      </div>
  
      </div>
    </nav>
  